*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.jbl_main_footer_container
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100%;
    background: black;

}

.jbl_footer_heading_boxes
{
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 450px;
    /* border: 2px solid white; */
    margin-top: 2%;
}

.jbl_footer_heading_text
{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: white;
}
.jbl_footer_info_texts
{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: white;
}

.jbl_footer_info_texts:hover
{
    color: rgb(231, 76, 60);
 
}

.bootom_horizontal_line
{
    width: 100vw;
    size: 3px;
    color: rgb(231, 76, 60);


}
